h3 {
    margin: 0;
    padding: 0
}

a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background: 0 0;
    text-decoration: none
}

body {
    font-family: "微软雅黑";
    font-size: 12px
}

html, body {
    height: 100%;
    position: relative
}

a {
    text-decoration: none
}

body {
    font-size: 14px
}

header.mui-bar-nav {
    background: #1d4481;
    color: #fff;
    box-shadow: 0 0 0 0 transparent;
    z-index: 9999
}

.mui-bar-tab .mui-tab-item.mui-active {
    color: #1d4481;
}

@media screen and (max-width: 320px) {
    html, body {
        margin: 0;
        padding: 0;
        font-size: 12px;
    }
}

@media screen and (min-width: 320px) {
    html, body {
        margin: 0;
        padding: 0;
        font-size: 12px;
    }
}

@media screen and (min-width: 360px) {
    html, body {
        margin: 0;
        padding: 0;
        font-size: 14px;
    }
}

@media screen and (min-width: 400px) {
    html, body {
        margin: 0;
        padding: 0;
        font-size: 14px;
    }
}

@media screen and (min-width: 440px) {
    html, body {
        margin: 0;
        padding: 0;
        font-size: 16px;
    }
}

@media screen and (min-width: 480px) {
    html, body {
        margin: 0;
        padding: 0;
        font-size: 16px;
    }
}

@media screen and (min-width: 640px) {
    html, body {
        margin: 0;
        padding: 0;
        font-size: 18px;
    }
}

.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body {
    font-size: 1rem;
    height: 1.5rem;
    line-height: 1.5rem;
    margin-top: 2px;
}

.mui-bar .mui-title {
    color: #fff
}

.mui-bar-nav.mui-bar .iconfont, .mui-bar-nav.mui-bar .mui-icon {
    color: #fff
}

.mui-bar .iconfont {
    position: relative;
    z-index: 20;
    padding-top: 13px;
    padding-bottom: 10px;
    display: inline-block;
}

.iconfont .mui-badge {
    font-size: 10px;
    line-height: 1.4;
    position: absolute;
    top: 2px;
    margin-left: -10px;
    padding: 1px 5px;
    color: #fff;
    background: red;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
}

header .iconfont .mui-badge {
    top: 6px;
    margin-left: -15px;
}

nav .iconfont .mui-badge {
    top: 0;
}

.mui-slider-indicator .mui-indicator {
    box-shadow: 0 0 0 0 transparent;
    background: 0 0;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    margin: 1px 2px
}

.combg {
    background: #efeff4
}

.notice_activek {
    background: #fff;
    overflow: hidden;
    padding: .8rem
}

.notice_activek > h3 {
    float: left
}

.notice_activek > h3 > img {
    width: 35px
}

.notice_active {
    float: left;
    padding-left: 1rem;
    width: 85%;
    height: 1rem;
    overflow: hidden;
    position: relative
}

.notice_active a {
    color: #333
}

.notice_active li {
    list-style-type: none;
    line-height: 1rem;
    overflow: hidden
}

.notice_active li.notice_active_ch span {
    text-align: right;
    float: right;
    color: #999;
    font-size: .8rem;
    font-style: normal
}

.index_daiban dl dt img {
    width: 70px;
    float: left;
    padding-right: 10px
}

.index_daiban dl {
    float: left;
    width: 70%
}

.index_daiban .mui-card-content-inner {
    overflow: hidden
}

.index_daiban dl > dd > h3 {
    font-size: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 0.2rem
}

.index_daiban dl > dd > p {
    font-size: 0.9rem
}

.mui-btn-radius {
    border-radius: 50px;
}

.idaiban_btn {
    float: right;
    margin-top: 0.8rem;
    border-color: #8ddab5;
    width: 30%;
    color: #139d7e !important;
}

.mui-card {
    box-shadow: 0 0px 0px rgba(0, 0, 0, .0)
}

.index_daiban dl > dd > h3 .mui-badge {
    font-size: 1.1rem
}

.icom_more {
    float: right;
    font-size: 12px;
    color: #139d7e
}

.mui-card-header {
    font-size: 1.11rem
}

.iyingyong, .inews {
    margin: 0
}

.inews {
    margin-top: 10px
}

/*.inews .iconfont{ font-size: 1.1rem}*/
.iyingyong .mui-grid-view.mui-grid-9 {
    background: #fff;
    border: 0
}

.iyingyong .mui-grid-view.mui-grid-9 .mui-table-view-cell {
    border: 0
}

.iyingyong .mui-card-header, .inews .mui-card-header {
    position: static
}

.yyicon {
    width: 45px;
    height: 45px;
    position: relative;
    display: inline-block;
    background: #ddd;
    border-radius: 20px
}

.yyicon img {
    width: 45px;
    height: 45px;
    border-radius: 5px;
}

.yyicon .appIntranet {
    display: inline-block;
    position: absolute !important;
    top: -0.3rem;
    right: -0.3rem;
    width: 1.2rem;
    height: 1.2rem;
}

.yyicon .locked {
    display: inline-block;
    position: absolute !important;
    top: unset;
    bottom: -0.3rem;
    left: -0.3rem;
    width: 1.2rem;
    height: 1.2rem;
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell {
    padding: 5px;
}

.news_list_title {
    font-size: 1rem;
    color: #111;
    font-weight: 300;
    line-height: 1.4rem;
    height: 2.8rem;
    overflow: hidden;
    white-space: normal
}

.inews .mui-ellipsis {
    font-size: 0.9rem;
    color: #666666;
    padding-top: 0.4rem
}

.inews_time {
    font-size: 0.9rem;
    color: #999;
    padding-top: 0.4rem
}

.mui-slider .mui-slider-group .mui-slider-item .news_img {
    width: 60px;
    height: 60px;
    max-width: 60px;
    border-radius: 3px
}

.mui-bar-tab {
    background: #fff;
    border: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2)
}

.mt10 {
    margin-top: 10px
}

.mui-card-header {
    border-bottom: 1px solid #eee
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-group .mui-slider-item {
    border-color: #ddd
}

.mui-table-view-cell:after {
    background-color: #e5e5e5
}

.btmline {
    width: 100%;
    height: 60px
}

.yysearch {
    margin: 10px;
    padding: 2px;
    overflow: hidden;
    background: #fff;
    border-radius: 5px
}

.yysearch.mui-search input[type=search] {
    background: #fff;
    margin-bottom: 0;
    float: left;
    width: 87%;
    text-align: left;
    padding-left: 15px;
    font-size: 0.9rem
}

.yysearch .mui-icon {
    float: right;
    font-size: 22px;
    padding-right: 10px;
    padding-top: 7px;
    color: #9d9d9d
}

.iyingyong.mui-card {
    border-radius: 0;
    box-shadow: 0 0px 0px rgba(0, 0, 0, .0)
}

.userbanner {
    background: url("../images/004.png") #fff top no-repeat;
    text-align: center;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    padding-top: 20%;
    margin-top: -10px;
    margin-bottom: 10px
}

.mt-15 {
    margin-top: -15px
}

.mui-bar-transparent.mui-bar .mui-icon, .mui-bar-transparent.mui-bar .iconfont {
    color: #fff
}

.user_name {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 600
}

.user_img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: inline-block;
    background: url("../images/user3.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
    border: 3px solid #defbf7;
}

.user_img img {
    width: 100%;
    border-radius: 50%;
    margin-top: -1rem
}

.user_bumen {
    font-size: 0.9rem;
    color: #fff;
    font-weight: 200;
    padding-top: 5px;
}

.user_link {
    margin: 0px;
    border-top: 0px solid #E5E9EF;
    overflow: hidden;
    padding: 10px 0px;
    padding-top: 0;
    text-align: center;
}

.user_link > a {
    width: 33.3%;
    display: inline-block;
    float: left
}

.user_link dl dt {
    font-size: 1.4rem;
    color: #2F2F2F;
    font-weight: 600;
    padding-bottom: 10px
}

.user_link dl dd {
    font-size: 0.9rem;
    color: #a8b6c8;
    font-weight: 200;
}

.user_setlist .mui-table-view-cell:after {
    background: #fff
}

.user_setlist.mui-table-view:before {
    background: #fff
}

.user_setlist.mui-table-view:after {
    background: #fff
}

.jianbiancolor {
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(112, 149, 253, 1)), to(rgba(87, 140, 252, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.font14 {
    font-size: 1rem
}

.mui-bar-transparent.mui-active {
    background: #1d4481 !important;
}

.userinfobanner {
    background: url("../images/004.png") #fff top no-repeat;
    text-align: center;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    padding-top: 15%;
    padding-bottom: 5%;
    margin-top: -10px;
    margin-bottom: 10px
}

.userinfobanner .user_bumen {
    color: #e0eaf6;
}

.userinfobanner .user_name {
    color: #fff;
}

.user_infolist label {
    color: #93A0B2;
    text-align: right;
    width: 4rem;
    padding-right: 10px;
    display: inline-block
}

.mui-table-view:before {
    background: #fff
}

.mui-table-view:after {
    background: #fff
}

.sousuolist {
    margin: 0;
    padding: 0
}

.mui-card-footer:before, .mui-card-header:after {
    background: none
}

.sousuolist .mui-navigate-right:after, .sousuolist .mui-push-right:after {
    content: "进入";
    color: #1d4481;
    border: 1px solid #1d4481;
    border-radius: 6rem;
    padding: 3px 8px;
    font-size: 12px;
}

.search_select {
    color: #1d4481;
    font-weight: 300
}

.yyicon .delectbtn {
    position: absolute;
    top: 8px;
    left: 15px;
    font-size: 1.4rem;
    color: red;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}

.qxcollect {
    font-size: 0.9rem;
    color: #1d4481
}

.inews_num {
    float: left
}

.mui-content .message {
    margin: 0 !important;
    padding: 0
}

.message .mui-table-view-cell .iconfont {
    background: #FF9600;
    color: #fff;
    font-size: 1.3rem;
    display: inline-block;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center
}

.message .mui-table-view-cell .iconfont.icon-xiaoxi1 {
    background: #1d4481
}

.mui-search .mui-placeholder {
    font-size: 1rem
}

.null {
    text-align: center;
    padding: 20px 50px;
    overflow: hidden
}

.null img {
    width: 40%
}

a.combtn, .combtn {
    display: block;
    background: #1d4481;
    height: 45px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 45px;
    border-radius: 45px;
    margin: 30px 20px;
    box-shadow: 0 2px 6px 0 rgba(23, 84, 242, .6);
}

.telphoneyz_title {
    font-size: 1.1rem;
    padding: 2rem;
}

input.telphoneyz_input {
    margin: 0px 10%;
    border: 0;
    background: #F3F3F3;
    width: 80%;
    text-align: center
}

.bordernone {
    border: 0 !important;
}

.stateColor {
    color: #000;
}

#upload_layui, #upload_cordova {
    display: inline-block;
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -3.5rem;
    z-index: 10;
    opacity: 0;
}

.message_detail {
    margin: 0;
    background: #fff;
    padding: 15px;
}

.message_detail_title {
    text-align: center;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 10px;
}

.message_detail_title h2 {
    font-size: 18px;
    padding-bottom: 10px
}

.message_detail_title h5 {
    font-size: 12px;
}

.message_detail_title span {
    padding: 0px 10px
}

.message_detail_area {
    padding: 20px 0px;
}

.message_detail_area p {
    text-indent: 2em;
    color: #666;
    padding-bottom: 10px
}

.layui-upload-file {
    display: none;
}

.my-badge {
    color: #dd524d;
}

.mui-table-view-cell {
    position: relative;
}

.myIconBox {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
}

.mui-badge-oa {
    position: absolute;
    top: 50%;
    right: 35px;
    border-radius: 50%;
    font-size: 12px;
    line-height: 1;
    display: inline-block;
    padding: 3px 6px;
    margin-top: -9px;
}

#logout {
    width: 80%;
    line-height: 35px;
    border-radius: 35px;
    text-align: center;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    color: #929292;
    border: 0
}

#lookMore, #loadMore {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #929292;
    display: block;
}

.mui-slider-indicator.mui-segmented-control {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.mui-slider {
    background-color: #efeff4;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
    border-bottom: 2px solid #007aff;
    box-sizing: border-box;
    background-color: #fff;
}

.swiper-container, .swiper-slide a, .swiper-slide a img {
    width: 100%;
    height: 160px;
}

html, body {
    position: relative;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#sliderSegmentedControl a {
    padding: 0 17px;
}

.mui-table-view-cell:after {
    left: 0;
}

.mui-segmented-control.mui-scroll-wrapper {
    height: 41px;
}

.mui-badge {
    display: none;
}

#mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 90;
    background-color: rgba(0, 0, 0, .3);
    display: none;
}

#btnGroup {
    width: 100%;
    position: fixed;
    bottom: -7rem;
    left: 0;
    z-index: 100;
    background-color: #fff;
}

#btnGroup .mui-btn {
    display: block;
    width: 100%;
    height: 3.4rem;
    font-size: 1.4rem;
}

#btnGroup .mui-btn:first-of-type {
    border-bottom: none;
}

[v-cloak] {
    display: none;
}

#bg {
    display: block;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    z-index: 100000;
}

#oaDb {
    margin: 10px 0 0 0;
}

#oaDb .mui-grid-view.mui-grid-9 .mui-table-view-cell {
    width: 100%;
    background-color: #fff;
}

#oaDb .mui-table-view-cell .iconfont {
    background: #FF9600;
    color: #fff;
    font-size: 1.3rem;
    display: inline-block;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
}

#oaDb .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body {
    height: auto;
    text-align: left;
    display: inline-block;
    margin-top: 0;
}

#oaDb .mui-table-view-cell p {
    line-height: 1.5rem;
    color: #666;
    width: 75%;
}

#oaDb .mui-grid-view.mui-grid-9 {
    border: none;
}

.mui-card .mui-table-view .mui-table-view-cell:first-child, .mui-card .mui-table-view .mui-table-view-divider:first-child {
    border-radius: 0;
}

#oaDb .mui-grid-view.mui-grid-9 .mui-table-view-cell > a:not(.mui-btn) {
    padding: 0px 5px;
}

#oaDb .mui-table-view li:nth-child(6n+1) .iconfont {
    background-color: #ff6a32;
}

#oaDb .mui-table-view li:nth-child(6n+2) .iconfont {
    background-color: #139d7e;
}

#oaDb .mui-table-view li:nth-child(6n+3) .iconfont {
    background-color: #fe9600;
}

#oaDb .mui-table-view li:nth-child(6n+4) .iconfont {
    background-color: #81dbb7;
}

#oaDb .mui-table-view li:nth-child(6n+5) .iconfont {
    background-color: #50bce3;
}

#oaDb .mui-table-view li:nth-child(6n) .iconfont {
    background-color: #b64dde;
}

#oaDb .userdb .mui-table-view-cell .iconfont {
    background: #FF9600;
    color: #fff;
    font-size: 1.0rem;
    display: inline-block;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    text-align: center;
    margin-top: 0.6rem;
}

#collectBtn {
    width: 5rem;
    height: 5rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: fixed;
    background-color: #1d4481;
    color: #fff;
    bottom: 2rem;
    right: 2rem;
    z-index: 1000;
    text-align: center;
    display: none;
}

#collectBtn a {
    font-size: 2rem;
    color: #fff;
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}

#collectBtn span {
    margin-top: 2.5rem;
    display: inline-block;
}

#lookDetail {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    text-align: center;
    line-height: 4rem;
    border-radius: 50%;
    font-size: 1.2rem;
    background-color: #1d4481;
    color: #fff;
    position: fixed;
    right: 1rem;
    bottom: 80px;
    display: none;
}

#imgInp {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    opacity: 0;
}

.operationBox {
    list-style: none;
    margin: 0;
    padding: 0.7rem 1rem;
    position: fixed;
    top: 54px;
    right: 10px;
    background-color: #000;
    opacity: 0.8;
    border-radius: 3px;
    display: none;
}

.operationBox li {
    color: #fffffd;
    border-bottom: 1px solid #635957;
    font-size: 1.1rem;
    line-height: 3rem;
    position: relative;
    padding-left: 3.5rem;
    padding-right: 1rem;
}

.operationBox li:last-of-type {
    border: none;
}

.operationBox .arrow {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #000;
    transform: rotate(45deg);
    position: absolute;
    top: -5px;
    right: 5px;
}

.operationBox i {
    font-size: 1.4rem;
    position: absolute;
    top: 0rem;
    left: 1rem;
}

header .icon-xiaoxi3 {
    font-size: 20px;
}

.closeWebView {
    margin-left: 1rem;
}

